.header{
    display: flex;
    align-items: center;
    background-color: white;
    height: 10vh;
    border-end-start-radius: 40px;
    border-end-end-radius: 40px;

  }  
  
  .img{
    width: 128px;
  }
  
  .navBar{
    display: flex;
    width: 100%;
    padding: 1%;
    justify-content: space-between;
  }
  
  
  .ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  
  .StyledLi{
    display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: var(--font-color);
  
  }  
  
  .buttonHeader {
    border-width: 1px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    font-family: "Open", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    height: 2rem;
    width: 5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #014e5c;
  }
  
  .buttonHeader:hover{
    background-color: #04849b;
  }