.body {
    background-color: #314431; 
    display: flex;
    flex-direction: column;
    gap: 10rem;
    height: 100vh;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
    padding: 3rem;

}

.devSection {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
 
  

