.apresentation {
    display: flex;
    width: 60%;
    align-self: flex-start;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    height: 20rem;
    padding: 1.5rem;
    align-items: center;
  }
  