/* Estilo base para todas as telas */
.apresentation {
  display: flex;
  width: 60%;
  align-self: flex-start;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  height: 20rem;
  padding: 1.5rem;
  align-items: center;
}

/* Extra Pequeno (XS) - Telefones Pequenos */
@media (max-width: 575px) {
  .apresentation {
      width: 90%; 
      height: 25rem; 
      padding: 1rem; 
      border-radius: 50px; 
  }
}

/* Pequeno (SM) - Telefones Médios e Tablets Pequenos */
@media (min-width: 576px) and (max-width: 767px) {
  .apresentation {
      width: 80%;
      height: 18rem;
      padding: 1.2rem; 
      border-radius: 70px; 
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .apresentation {
      width: 70%; 
      height: 30rem; 
      padding: 1.5rem; 
      border-radius: 90px; 
  }
}

/* Grande (LG) - Desktops Médios */
@media (min-width: 992px) and (max-width: 1199px) {
  .apresentation {
      width: 60%; 
      height: 35rem; 
      padding: 1.5rem; 
  }
}


@media (min-width: 1200px) {
  .apresentation {
      width: 60%; 
      height: 22rem; 
      padding: 1.5rem; 
  }
}
