.devStyled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
  
.link {
    color: #c7c7c7;
}

.imgDev {
    width: 20rem;
}

.description {
    color: white;
    font-family: "Bebas Neue", sans-serif;
}
