.title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 5rem;
    color: white;
    text-align: center; 
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 3rem;
    width: 100vw;
    gap: 6rem;
}

.p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.greenRanking {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 1.5rem;
}

/* Extra Pequeno (XS) - Telefones Pequenos */
@media (max-width: 575px) {
    .title {
        font-size: 3rem; 
    }

    .main {
        gap: 3rem; 
    }

    .p {
        font-size: 1rem; 
    }

    .greenRanking {
        font-size: 1.2rem; 
        padding: 1rem; 
    }
}

/* Pequeno (SM) - Telefones Médios e Tablets Pequenos */
@media (min-width: 576px) and (max-width: 767px) {
    .title {
        font-size: 4rem; 
    }

    .main {
        gap: 4rem;
    }

    .p {
        font-size: 1.2rem; 
    }

    .greenRanking {
        font-size: 1.5rem; 
        padding: 1.2rem;
    }
}

/* Médio (MD) - Tablets e Laptops */
@media (min-width: 768px) and (max-width: 991px) {
    .title {
        font-size: 4.5rem;
    }

    .main {
        gap: 5rem; 
    }

    .p {
        font-size: 1.3rem;
    }

    .greenRanking {
        font-size: 1.7rem;
        padding: 1.3rem; 
    }
}

/* Grande (LG) - Desktops Médios */
@media (min-width: 992px) and (max-width: 1199px) {
    .title {
        font-size: 5rem; 
    }

    .main {
        gap: 6rem; 
    }

    .p {
        font-size: 1.5rem; 
    }

    .greenRanking {
        font-size: 1.8rem; 
        padding: 1.5rem; 
    }
}

/* Extra Grande (XL) - Desktops Grandes */
@media (min-width: 1200px) {
    .title {
        font-size: 5rem;
    }

    .main {
        gap: 6rem;
    }

    .p {
        font-size: 1.5rem;
    }

    .greenRanking {
        font-size: 1.8rem;
        padding: 1.5rem;
    }
}
